<body class="Creditos">
    <header class="Banner">
        <h1>Equipo de Desarrollo</h1>
        <p>Conoce a los miembros del equipo y sus roles en este proyecto.</p>
        <a href = '@Url.Action("Tutorial")'>Tutorial</a>
        <a href = '@Url.Action("Index")'>Inicio</a>
        <a href = '@Url.Action("Comenzar")'>Jugar</a>
        <a href = '@Url.Action("Creditos")'>Créditos</a>
    </header>
    <main class="Creditos-usuario"> 
        <section>
            <img src="~/Img/Juancho.jpg">
            <h3>Juan Rozenbeim</h3>
            <p>Rol: Desarrollador Frontend</p>
        </section>
        <section>
            <img src="~/Img/Brian.jpg">
            <h3>Brian Huberman</h3>
            <p>Rol: Desarrollador Backend</p>
        </section>
        <section>
            <img src="~/Img/Iachu.jpg">
            <h3>Iair Dyner</h3>
            <p>Rol: Diseñador UI/UX</p>
        </section>
    </main>
</body>