<body class="Derrota">
    <header class="Banner">
    <h1>GANASTE</h1>
    <p>Matheus Da Silva Riveiro Jr ya es nuevo jugador del Real Madrid</p>
    <a href = '@Url.Action("Tutorial")'>Tutorial</a>
    <a href = '@Url.Action("Comenzar")'>Inicio de juego</a>
    <a href = '@Url.Action("Creditos")'>Créditos</a>
    </header>
    <div>
        <img src = "~/Img/derrota.jpg">
    </div>
    
</body>