<body class="Derrota">
    <header class="Banner">
    <h1>PERDISTE</h1>
    <p>Se te acabó el tiempo y Matheus Da Silva Riveiro Jr ya es nuevo jugador del Barcelona</p>
    <a href = '@Url.Action("Tutorial")'>Tutorial</a>
    <a href = '@Url.Action("Index")'>Inicio</a>
    <a href = '@Url.Action("Comenzar")'>Jugar</a>
    <a href = '@Url.Action("Creditos")'>Créditos</a>
    </header>
    <div>
        <img src = "~/Img/derrota.jpg">
    </div>
    
</body>