<h1>Titulo 2345</h1>
<p>Un texto relatando lo que se encuentra en la sala y lo que hay que hacer</p>
@if(ViewBag.Sala != null){
    <p>@ViewBag.Sala</p>
}
@if(ViewBag.Clave != null){
    <p>@ViewBag.Clave</p>
}
<img src = "~/Img/favela.jfif">
<form action='@Url.Action("Habitacion")'> 
     <label><input type="hidden" name="sala" value="4" /></label>
    <label><input type="text" name="clave" placeholder = "ingresa la clave de la sala en la que estas" required/></label>
    <input type="submit"/>
</form>
<button>Pista 1: botones que dan pistas para adivinar la clave.</button>
<button>Pista 2: botones que dan pistas para adivinar la clave.</button>