<h1>Titulo 2345</h1>
<p>Próximo destino Rio de Janeiro, la favela</p>
@if(ViewBag.Sala != null){
    <p>@ViewBag.Sala</p>
}
@if(ViewBag.Clave != null){
    <p>@ViewBag.Clave</p>
}
<form action='@Url.Action("Habitacion")'> 
     <label><input type="hidden" name="sala" value="3" /></label>
    <label><input type="text" name="clave" placeholder = "ingresa la clave de la sala en la que estas" required/></label>
    <input type="submit"/>
</form>
<button>Pista 1: Adivinar el jugador según su carrera futbolística</button>