<h1>Titulo</h1>
<p>Un texto relatando lo que se encuentra en la sala y lo que hay que hacer</p>
<form action='@Url.Action("Habitacion")'> 
    <input type = "hidden" name = sala value = @ViewBag.Sala>
    <h1>@ViewBag.Sala</h1>
    <label><input type="text" name="clave"required/></label>
    <input type="submit"/>
</form>
<button>Pista 1: botones que dan pistas para adivinar la clave.</button>
<button>Pista 2: botones que dan pistas para adivinar la clave.</button>
