@{
    ViewData["Title"] = "Index";
}
<body class = "inicio">
<header class = "Banner">
    <h1>La busqueda de Florentino</h1>
    <p>Nuestra joven promesa</p>
</header>
<div>
    <a href = '@Url.Action("Tutorial")'>Ir a Tutorial</a>
    <a href = '@Url.Action("Comenzar")'>Ir al Inicio de juego</a>
    <a href = '@Url.Action("Creditos")'>Ir a Créditos</a>
</div>
<footer>
    <p>&copy Juancho, Brian, Iachu</p>
</footer>
</body>


