@{
    ViewData["Title"] = "Index";
}
<body class = "inicio">
<header class = "Banner">
    <h1>La busqueda de Florentino</h1>
    <p>Nuestra joven promesa</p>
    <a href = '@Url.Action("Tutorial")'>Tutorial</a>
    <a href = '@Url.Action("Index")'>Inicio</a>
    <a href = '@Url.Action("Comenzar")'>Jugar</a>
    <a href = '@Url.Action("Creditos")'>Créditos</a>
</header>
    <script> localStorage.removeItem('tiempo'); </script> 
</body>


