@{
    ViewData["Title"] = "Index";
}
<body class = "inicio">
<header>
    <img src="~/Img//"> logo
    <h1>Nombre</h1>
    <p>Slogan</p>
</header>
<div>
    <a href = '@Url.Action("Tutorial")'>Ir a Tutorial</a>
    <a href = '@Url.Action("Comenzar")'>Ir al inicio de juego</a>
    <img src="~/Img//">
    <img src="~/Img//">
</div>
<footer>
    <p>&copy Juancho, Brian, Iachu</p>
</footer>
</body>


