<header>
    <img src="~/Img/"> logo
    <h1>Nombre</h1>
    <p>Slogan</p>
</header>
<div> 
    <h1></h1>
    <p>Durante esta sala de escape hay que cumplir ciertos desafios par ahacer que florentino perez logre cumplir su sueño de comprar a la joven estrella de brasil</p>
    <p>Florentino un dia tuvo un sueño, el sueño era sobre una joya en Brasil, un jugador que destacaba del resto. 
        Luego, pensante, llega al bernabeu, pensando en aquel sueño que tuvo. Una vez en su oficina llega Vinicius Jr, el cual lo sorprende con una gran novedad. 
        Un amigo suyo le comentó sobre un chico de unos 15 años, que se está destacando por su nivel futbolístico en brasil.</p>
    <img src="~/Img/">
</div>
