<body class="Tutorial">
    <header class="Banner">
    <h1>Entendiendo el juego</h1>
    <p>Lee la explicacion para enteder la temática</p>
</header>
 <div> 
        <h1>Introducción</h1>
        <p>Durante esta sala de escape, hay que cumplir ciertos desafíos para que Florentino Pérez logre cumplir su sueño de comprar a la joven estrella de Brasil.</p>
        <p>Florentino, un día, tuvo un sueño sobre una joya en Brasil, un jugador que destacaba del resto. 
            Pensante, llega al Bernabéu, recordando aquel sueño. 
            Una vez en su oficina, Vinicius Jr. lo sorprende con una gran novedad: 
            un amigo suyo le comentó sobre un chico de unos 15 años que se está destacando por su nivel futbolístico en Brasil.</p>

            <p class = "TextoImportante"> A medida que vayan pasando los juegos se va a ir mostrando el nombre de esta futura estrella. A prestar atención y tener memoria</p>
        <img src="~/Img/LOGOCOMPLETO.png">
    </div>
</body>


