html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*{
  padding: 0px  
  border solid white 1px;
}
body {
  margin: 10px;
  padding: 10px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.inicio {
  background-image: url("../Img/carleto_oficina.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
div{
  height: 800px;
}
.inicio div{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.inicio div a {
  background-color: #e3b505;
  color: #333;
  text-decoration: none;
  padding: 15px 30px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1.2em;
  height: 40px;
}

.inicio div a:hover {
  background-color: #d4a304;
}
.Banner {
  text-align: center;
  padding: 20px;
  background-color: #333;
  margin-bottom: 20px;
}
.Banner h1 {
  margin: 10px 0;
  font-size: 40px; 
  color: #e3b505;
}

.Banner p {
  font-size: 19px; 
  color: #ccc;
}

.Banner a{
  background-color: #e3b505;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1.2em;
  height: 40px;
}

button{
  background-color: #e3b505;
  color: #333;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px; 
  border: none;
}

button:hover {
  background-color: #d4a304;
}

label{
  margin: 10px 0;
}

input[type="text"]{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  margin: 10px 0;
}

input[type="submit"]{
  background-color: #e3b505;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px; 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d4a304;
}

h4 {
  margin-top: 20px;
  color: #ccc;
}

h2{
  display: flex;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
  font-size: 19px; 
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.H0{
  font-family: 'Arial', sans-serif;
  background-image: url("../Img/estadio.webp");
  background-size: cover;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.Juego0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Juego0 p {
  font-size: 19px; 
  color: #e3b505;
  margin-bottom: 20px;
}


.H1{
  font-family: 'Arial', sans-serif;
  background-image: url("../Img/avion.jpeg");
  background-size: cover;
  color: #f5f5f5;
}

.Juego1 {
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.Juego1 p {
  font-size: 19px; 
  color: #e3b505;
  margin-bottom: 20px;
}

.H2{
  font-family: 'Arial', sans-serif;
  background-image: url("../Img/florentinoFavela.png");
  background-size: 100%;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.H2 p{
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 10px;
}
.Juego2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

.Juego2 p {
  font-size: 19px; 
  color: #e3b505;
  margin-bottom: 20px;
}

.Juego2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 30px;
}

.H3{
  font-family: 'Arial', sans-serif;
  background-image: url("../Img/favela.jfif");
  background-size: 60% no-repeat;
  background-color: #333;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  
}
.Juego3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.Juego3 p {
  font-size: 19px;
  color: #e3b505;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

.Victoria h1 {
  font-size: 48px;
  margin: 20px 0;
  color: #e3b505;
}

.Victoria p {
  font-size: 24px; 
  margin: 10px 20px;
  color: #ccc;
}
.Victoria div{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.Derrota div{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.Tutorial {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Tutorial div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.Tutorial div h1 {
  font-size: 32px;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.Tutorial div p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0;
}
.TextoImportante{
  font-weight: bold;
}

.Creditos {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.Creditos-usuario{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.Creditos-usuario section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.Creditos-usuario section img {
  max-width: 80%;
  height: 60%;
  border-radius: 50%;
}

.Creditos-usuario section h2 {
  font-size: 24px;
  color: #1e1e1e;
  margin: 15px 0 10px 0;
}